@import "tailwindcss";

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  body {
    background: white !important;
  }
}

